<div class="flex justify-center items-center w-full py-3 font-light">OR</div>
<div class="flex justify-center items-center flex-col">
  <button
    class="border my-1 shadow-lg flex flex-row justify-center items-center w-full font-semibold rounded text-sm focus:ring-4 px-5 py-2 hover:bg-gray-50"
  >
    <span
      ><img
        loading="lazy"
        class="w-8 h-8"
        src="/assets/svg/icons8-logo-de-google.svg"
        alt=""
      />
    </span>
    <p class="px-1">Continuar con Google</p>
  </button>
  <button
    class="flex flex-row justify-center my-1 shadow-lg border items-center w-full font-semibold rounded text-sm focus:ring-4 px-5 py-2 hover:bg-gray-50"
  >
    <span
      ><img
        loading="lazy"
        class="w-8 h-8"
        src="/assets/svg/icons8-microsoft.svg"
        alt=""
    /></span>
    <p class="px-1">Continuar con Microsoft</p>
  </button>
  <button
    class="border my-1 justify-center shadow-lg flex flex-row items-center w-full font-semibold rounded text-sm focus:ring-4 px-5 py-2 hover:bg-gray-50"
  >
    <span
      ><img
        loading="lazy"
        class="w-8 h-8"
        src="/assets/svg/icons8-mac-os.svg"
        alt=""
    /></span>
    <p class="px-1">Continuar con Apple</p>
  </button>
  <button
    class="border my-1 shadow-lg flex flex-row items-center justify-center w-full font-semibold rounded text-sm focus:ring-4 px-5 py-2 hover:bg-gray-50"
  >
    <span
      ><img
        loading="lazy"
        class="w-8 h-8"
        src="/assets/svg/icons8-slack-nuevo.svg"
        alt=""
    /></span>
    <p class="px-1">Continuar con Slack</p>
  </button>
</div>
<hr class="my-4 border-b-1 border-gray-400" />
