<nav class="bg-white border-b-2 border-gray-300 px-6">
  <div class="flex flex-wrap justify-between items-center my-1">
    <div class="flex items-center">
      <a href="" class="hover:bg-gray-300 py-2 px-2 rounded">
        <img src="/assets/svg/icon-menu.svg" alt="" />
      </a>

      <a routerLink="/" class="hover:bg-gray-300 rounded">
        <img
          loading="lazy"
          class="w-28 px-4"
          src="/assets/images/logo/logo-gradient-neutral-trello.png"
          alt="logo"
        />
      </a>
      <div class="flex items-center">
        <ul class="flex items-center space-x-2 text-sm font-medium">
          <li>
            <a class="py-3 px-4 text-gray-600 hover:bg-gray-300 rounded"
              >Espacios de trabajo
              <fa-icon [icon]="faAngleDown" class="px-2"></fa-icon
            ></a>
          </li>
          <li>
            <a class="block py-3 px-4 text-gray-600 hover:bg-gray-300 rounded"
              >Reciente <fa-icon [icon]="faAngleDown" class="px-2"></fa-icon
            ></a>
          </li>
          <li>
            <a class="block py-3 px-4 text-gray-600 hover:bg-gray-300 rounded"
              >Marcado <fa-icon [icon]="faAngleDown" class="px-2"></fa-icon
            ></a>
          </li>
          <li>
            <a class="block py-3 px-4 text-gray-600 hover:bg-gray-300 rounded"
              >Plantillas <fa-icon [icon]="faAngleDown" class="px-2"></fa-icon
            ></a>
          </li>
          <li>
            <app-btn typeBtn="button" color="primary">Crear</app-btn>
          </li>
        </ul>
      </div>
    </div>
    <div class="flex items-center">
      <div class="flex space-x-2">
        <div
          class="flex flex-row rounded border justify-around items-center"
          style="background-color: #eef3f8; height: 2rem"
        >
          <img
            src="/assets/svg/icons8-search.svg"
            alt=""
            style="color: rgba(214, 214, 214, 0.836)"
            class="w-1/5 h-4"
          />
          <input
            type="search"
            placeholder="Buscar"
            class="w-4/5 border-none bg-transparent"
          />
        </div>

        <button
          class="text-gray-500 w-8 h-8 hover:bg-gray-200 rounded-full"
          type="button"
        >
          <fa-icon [icon]="faBell"></fa-icon>
        </button>
        <button
          class="text-gray-500 w-8 h-8 hover:bg-gray-200 rounded-full"
          type="button"
        >
          <fa-icon [icon]="faInfoCircle"></fa-icon>
        </button>
        <button
          type="button"
          class="flex rounded-full"
          aria-expanded="false"
          type="button"
          (click)="isOpen = !isOpen"
          cdkOverlayOrigin
          #menuOverlay="cdkOverlayOrigin"
        >
          <img
            class="w-8 h-8 rounded-full"
            src="https://api.lorem.space/image/face?w=400&h=400"
            alt="user photo"
          />
        </button>
      </div>
    </div>
  </div>
</nav>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="menuOverlay"
  [cdkConnectedOverlayOpen]="isOpen"
  [cdkConnectedOverlayHasBackdrop]="true"
  (backdropClick)="isOpen = false"
  (detach)="isOpen = false"
  (overlayOutsideClick)="isOpen = !isOpen"
>
  <div
    class="z-50 my-4 w-60 text-base list-none bg-white rounded divide-y divide-gray-100 shadow"
  >
    <div class="py-3 px-4 flex justify-between">
      <span class="block text-sm text-center text-gray-900">Account</span>
      <button (click)="isOpen = !isOpen" class="block text-sm text-gray-900">
        <fa-icon [icon]="faClose"></fa-icon>
      </button>
    </div>
    <div class="py-3 px-4 flex items-center space-x-4">
      <img
        class="w-10 h-10 rounded-full"
        src="https://api.lorem.space/image/face?w=400&h=400"
        alt=""
      />
      <div class="space-y-1">
        <div>Jese Leos</div>
        <div class="text-sm text-gray-500">nico@gmail.com</div>
      </div>
    </div>
    <ul class="py-1">
      <li>
        <a
          href="#"
          class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600"
          >Profile</a
        >
      </li>
      <li>
        <a
          href="#"
          class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600"
          >Activity</a
        >
      </li>
      <li>
        <a
          href="#"
          class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600"
          >Cards</a
        >
      </li>
      <li>
        <a
          href="#"
          class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600"
          >Settings</a
        >
      </li>
      <li>
        <a
          href="#"
          class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600"
          >Sign out</a
        >
      </li>
    </ul>
    <ul class="py-1">
      <li>
        <a href="#" class="block py-2 px-4 text-sm text-gray-700">Log out</a>
      </li>
    </ul>
  </div>
</ng-template>
