<div class="relative w-full sm:w-7/12 md:w-6/12 lg:w-4/12 mx-auto">
  <header class="pt-6 pb-2 flex justify-center">
    <img
      loading="lazy"
      class="w-56"
      src="/assets/images/logo/logo-gradient-blue-trello.png"
      alt="logo"
    />
  </header>
  <div class="bg-white rounded shadow-none sm:shadow-lg py-4 px-6 md:px-10">
    <div class="mb-4">
      <h1 class="text-center font-semibold pt-4 pb-8">Log In to Trello</h1>
      <form action="" novalidate class="space-y-4">
        <div class="relative">
          <input
            type="email"
            class="w-full rounded bg-gray-100 border-2 border-gray-300"
            placeholder="Enter Email"
          />
        </div>
        <div class="relative">
          <input
            type="password"
            class="w-full rounded bg-gray-100 border-2 border-gray-300"
            placeholder="Enter password"
          />
        </div>
        <div>
          <app-btn [typeBtn]="'submit'" [color]="'green'">
            <span class="flex justify-center">Log In</span>
          </app-btn>
        </div>
      </form>
      <app-sesion-body></app-sesion-body>
      <div
        class="flex justify-center items-center space-x-0 space-y-2 md:space-x-2 md:space-y-0 flex-col md:flex-row"
      >
        <a
          class="text-blue-600 font-light hover:underline"
          routerLink="/recovery"
          >Can't log in?</a
        >
        <span class="text-gray-700 hidden md:block">•</span>
        <a
          class="text-blue-600 font-light hover:underline"
          routerLink="/register"
          >Sign up for an account</a
        >
      </div>
    </div>
  </div>
  <div
    class="py-4 flex justify-center items-center space-x-0 space-y-2 md:space-x-2 md:space-y-0 flex-col md:flex-row"
  >
    <a class="text-blue-600 font-light text-sm hover:underline" href=""
      >Privacy Policy</a
    >
    <span class="text-gray-700 hidden md:block">•</span>
    <a class="text-blue-600 font-light text-sm hover:underline" href=""
      >Terms of Service</a
    >
  </div>
  <div style="text-align: center">
    <select
      [ngModel]="selectedLanguage"
      (ngModelChange)="selectLanguage($event)"
    >
      <option value="es">
        {{ "LOGIN.SPANISH" | translate }}
      </option>
      <option value="en">
        {{ "LOGIN.ENGLISH" | translate }}
      </option>
    </select>
  </div>

  <app-footer></app-footer>
</div>
