<app-navbar></app-navbar>
<div class="container mx-auto flex flex-row">
  <div class="flex flex-col">
    <button class="flex flex-row justify-start">
      <div class="pl-2">
        <fa-icon [icon]="faTable"></fa-icon>
      </div>
      <div class="pl-2">Tableros</div>
    </button>
    <button class="flex flex-row justify-start">
      <div class="pl-2"><fa-icon [icon]="faTabletAlt"></fa-icon></div>
      <div class="pl-2">Plantillas</div>
    </button>
    <button class="flex flex-row justify-start">
      <div class="pl-2">
        <fa-icon [icon]="faWaveSquare"></fa-icon>
      </div>
      <div class="pl-2">Inicio</div>
    </button>
    <div class="flex flex-col">
      <div>Espacio de trabajo</div>
      <div>Espacio de trabajo de Nombre</div>
    </div>
  </div>
  <div class="flex flex-col w-full">
    <div>Visto Recientemente</div>
    <div class="grid grid-cols-4 gap-4">
      <div
        class="w-full bg-sky-700 px-4 py-2 rounded text-white font-bold h-24"
      >
        Board 1
      </div>
      <div
        class="w-full bg-green-700 px-4 py-2 rounded text-white font-bold h-24"
      >
        Board 1
      </div>
      <div
        class="w-full bg-amber-700 px-4 py-2 rounded text-white font-bold h-24"
      >
        Board 1
      </div>
      <div
        class="w-full bg-indigo-700 px-4 py-2 rounded text-white font-bold h-24"
      >
        Board 1
      </div>
    </div>
    <div>Tus espacios de trabajos</div>
    <div class="flex flex-row flex-grow">
      <div>Espacio de trabajo de ...</div>
      <button>Tableros</button>
      <button>Vistas</button>
      <button>Miembros</button>
      <button>Configuracion</button>
      <button>Cambiar Plan</button>
    </div>
    <div class="grid grid-cols-4 gap-4">
      <div
        class="w-full bg-sky-700 px-4 py-2 rounded text-white font-bold h-24"
      >
        Board 1
      </div>
      <div
        class="w-full bg-green-700 px-4 py-2 rounded text-white font-bold h-24"
      >
        Board 1
      </div>
      <div
        class="w-full bg-amber-700 px-4 py-2 rounded text-white font-bold h-24"
      >
        Board 1
      </div>
      <div
        class="w-full bg-indigo-700 px-4 py-2 rounded text-white font-bold h-24"
      >
        Board 1
      </div>
    </div>
    <div>
      <button>Ver todos los tableros cerrados</button>
    </div>
  </div>
</div>
