<div class="w-screen h-screen bg-gray-200 sm:bg-gray-50 relative">
  <div class="absolute w-full h-full hidden sm:block">
    <img
      class="absolute w-60 lg:w-96 left-0 bottom-0"
      src="/assets/svg/login-bg-left.svg"
      alt="bg left"
    />
    <img
      loading="lazy"
      class="absolute w-60 lg:w-96 right-0 bottom-0"
      src="/assets/svg/login-bg-rigth.svg"
      alt="bg right"
    />
  </div>
  <div class="relative w-full sm:w-7/12 md:w-6/12 lg:w-4/12 m-auto">
    <header class="pt-6 pb-2 flex justify-center">
      <img
        loading="lazy"
        class="w-56"
        src="/assets/images/logo/logo-gradient-blue-trello.png"
        alt="logo"
      />
    </header>
    <div class="bg-white rounded shadow-none sm:shadow-lg py-4 px-6 md:px-10">
      <div class="mb-4">
        <h1 class="text-center font-semibold pt-4 pb-8">Log In to Trello</h1>
        <form action="" novalidate class="space-y-4">
          <div class="relative">
            <input
              type="email"
              class="w-full rounded bg-gray-100 border-2 border-gray-300"
              placeholder="Enter Email"
            />
          </div>
          <div class="relative">
            <input
              type="password"
              class="w-full rounded bg-gray-100 border-2 border-gray-300"
              placeholder="Enter password"
            />
          </div>
          <div>
            <app-btn [typeBtn]="'submit'" [color]="'green'">Log In</app-btn>
          </div>
        </form>
        <hr class="my-4 border-b-1 border-gray-400" />
        <div
          class="flex justify-center items-center space-x-0 space-y-2 md:space-x-2 md:space-y-0 flex-col md:flex-row"
        >
          <a class="text-blue-600 font-light hover:underline" href=""
            >Can't log in?</a
          >
          <span class="text-gray-700 hidden md:block">•</span>
          <a class="text-blue-600 font-light hover:underline" href=""
            >Sign up for an account</a
          >
        </div>
      </div>
    </div>
    <div
      class="py-4 flex justify-center items-center space-x-0 space-y-2 md:space-x-2 md:space-y-0 flex-col md:flex-row"
    >
      <a class="text-blue-600 font-light text-sm hover:underline" href=""
        >Privacy Policy</a
      >
      <span class="text-gray-700 hidden md:block">•</span>
      <a class="text-blue-600 font-light text-sm hover:underline" href=""
        >Terms of Service</a
      >
    </div>
    <hr class="my-4 border-b-1 border-gray-400" />
    <div class="flex justify-center">
      <img
        loading="lazy"
        class="w-32 mt-4"
        src="/assets/images/logo/logo-atlassian-blue.png"
        alt="logo"
      />
    </div>
    <div
      class="py-4 flex justify-between items-center space-x-0 space-y-2 md:space-x-2 md:space-y-0 flex-col md:flex-row"
    >
      <a class="text-gray-600 font-light hover:underline" href="">Templates</a>
      <a class="text-gray-600 font-light hover:underline" href="">Pricing</a>
      <a class="text-gray-600 font-light hover:underline" href="">Apps</a>
      <a class="text-gray-600 font-light hover:underline" href="">Jobs</a>
      <a class="text-gray-600 font-light hover:underline" href="">Blog</a>
      <a class="text-gray-600 font-light hover:underline" href="">Developers</a>
      <a class="text-gray-600 font-light hover:underline" href="">About</a>
      <a class="text-gray-600 font-light hover:underline" href="">Help</a>
    </div>
  </div>
</div>
