<app-navbar></app-navbar>
<div class="flex flex-row h-screen">
  <div class="flex flex-col h-full w-2/12">
    <div>Espacio de trabajo</div>
    <div>
      <button
        class="py-2 flex flex-row justify-start hover:bg-gray-200 w-full"
        type="button"
      >
        <div class="pl-2">
          <fa-icon [icon]="faTrello"></fa-icon>
        </div>
        <div class="pl-2">Tableros</div>
      </button>
      <button
        class="py-2 flex flex-row justify-start hover:bg-gray-200 w-full"
        type="button"
      >
        <div class="pl-2">
          <fa-icon [icon]="faUser"></fa-icon>
        </div>
        <div class="pl-2">Miembros</div>
      </button>

      <div>Ahustes del espacio de trabajo</div>
    </div>
    <div>Vistas del espacio de trabajo</div>
    <div>
      <div>Tabla</div>
      <div>Calendario</div>
    </div>
    <div>Sustableros</div>
    <div>Mi tablero</div>
  </div>
  <div class="flex flex-col w-10/12">
    <div
      class="w-full bg-gray-200 flex flex-row flex-wrap justify-between items-center"
    >
      <div class="flex flex-row items-center">
        <div>Mi tablero Trello</div>
        <div>Estrella</div>
        <button>Contactos</button>
        <button>Tablero</button>
      </div>
      <div class="flex flex-row items-center">
        <button>nave</button>
        <button>rayo</button>
        <button>filtrar</button>
        <button>Perfil</button>
        <button>Compartir</button>
        <button>tres puntos</button>
      </div>
    </div>
    <div class="flex flex-col h-full">
      <div class="w-full grow bg-sky-600 px-4 pb-4">
        <div>
          <h2 class="text-xl font-bold text-white my-4">Demo Board</h2>
        </div>
        <div class="flex items-start">
          <div class="rounded bg-gray-200 w-72 p-2 mr-3">
            <div class="flex justify-between py-1">
              <h3 class="text-sm font-bold ml-2">To Do</h3>
            </div>

            <div
              class="text-sm mt-2"
              cdkDropList
              (cdkDropListDropped)="drop($event)"
            >
              <div
                *ngFor="let ToDo of toDos"
                cdkDrag
                class="bg-white shadow p-2 rounded mt-2 border-b border-x-gray-300 cursor-pointer hover:bg-gray-400"
              >
                {{ ToDo.title }}
              </div>
            </div>
          </div>

          <div class="rounded bg-gray-200 w-72 p-2 mr-3">
            <div class="flex justify-between py-1">
              <h3 class="text-sm font-bold ml-2">Doing</h3>
            </div>

            <div class="text-sm mt-2">
              <div
                class="bg-white shadow p-2 rounded mt-2 border-b border-x-gray-300 cursor-pointer hover:bg-gray-400"
              >
                Task 1
              </div>
              <div
                class="bg-white shadow p-2 rounded mt-2 border-b border-x-gray-300 cursor-pointer hover:bg-gray-400"
              >
                Task 2
              </div>
              <div
                class="bg-white shadow p-2 rounded mt-2 border-b border-x-gray-300 cursor-pointer hover:bg-gray-400"
              >
                Task 3
              </div>
            </div>
          </div>

          <div class="rounded bg-gray-200 w-72 p-2 mr-3">
            <div class="flex justify-between py-1">
              <h3 class="text-sm font-bold ml-2">Done</h3>
            </div>

            <div class="text-sm mt-2">
              <div
                class="bg-white shadow p-2 rounded mt-2 border-b border-x-gray-300 cursor-pointer hover:bg-gray-400"
              >
                Task 1
              </div>
              <div
                class="bg-white shadow p-2 rounded mt-2 border-b border-x-gray-300 cursor-pointer hover:bg-gray-400"
              >
                Task 2
              </div>
              <div
                class="bg-white shadow p-2 rounded mt-2 border-b border-x-gray-300 cursor-pointer hover:bg-gray-400"
              >
                Task 3
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
