<hr class="my-4 border-b-1 border-gray-400" />
<div class="flex justify-center">
  <img
    loading="lazy"
    class="w-32 mt-4"
    src="/assets/images/logo/logo-atlassian-blue.png"
    alt="logo"
  />
</div>
<div
  class="py-4 flex justify-between items-center space-x-0 space-y-2 md:space-x-2 md:space-y-0 flex-col md:flex-row"
>
  <a class="text-gray-600 font-light hover:underline" href="">Templates</a>
  <a class="text-gray-600 font-light hover:underline" href="">Pricing</a>
  <a class="text-gray-600 font-light hover:underline" href="">Apps</a>
  <a class="text-gray-600 font-light hover:underline" href="">Jobs</a>
  <a class="text-gray-600 font-light hover:underline" href="">Blog</a>
  <a class="text-gray-600 font-light hover:underline" href="">Developers</a>
  <a class="text-gray-600 font-light hover:underline" href="">About</a>
  <a class="text-gray-600 font-light hover:underline" href="">Help</a>
</div>
